@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* ==================== VARIABLES ==================== */
:root {
  --color-1: #1BBACC;
  --color-2: #7A71C0;
  --color-3: #E5E7E8;

  --blanco: #f7f7f7;
  --negro: #433B82;

}

/* ==================== CONFIGURACIÓN INICIAL ==================== */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all .2s linear;
}


/* ==================== encabezado ==================== */
.encabezado {
  background: var(--color-1);
  padding: 1rem 1rem 1rem 1rem;
}

.encabezado img {
  display: block;
  width: 4rem;
  margin: 0 auto;
}

.encabezado h1 {
  font-size: .9rem;
  text-align: center;
  color: var(--negro);
  font-weight: 400;
  padding-top: .5rem;
}

/* ==================== doctora ==================== */
.imagen-doctora {
  height: 12rem;
  overflow: hidden;
}

.imagen-doctora img {
  width: 100%;
}

/* ==================== FORMULARIO ==================== */

.formulario {
  padding: 0rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background: var(--blanco);
}

.formulario .datos {
  display: flex;
  gap: 1rem;
  background: var(--color-3);
  border-radius: .5rem;
}

.formulario .datos div {
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.formulario .datos div label {
  color: var(--negro);
  font-size: 1rem;
}

.formulario .datos div input {
  background: var(--blanco);
  padding: .1rem;
  font-size: 2rem;
  text-align: center;
  border-radius: .5rem;
  width: 100%;
  color: var(--negro);
}

.formulario .resultado {
  background: var(--color-3);
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
}

.formulario .resultado h5 {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--negro);
}

.formulario .resultado h3 {
  font-size: 3.5rem;
  color: var(--negro);
}

.formulario .boton {
  background: var(--color-2);
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  color: var(--blanco);
  font-size: 1.1rem;
  margin-top: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.formulario .boton:hover {
  transform: scale(1.02);
}

/* ==================== pie de pagina ==================== */
.pie-de-pagina {
  background: var(--color-1);
  padding: 1rem;
}

.pie-de-pagina p {
  font-size: .9rem;
  color: var(--blanco);
  font-weight: 300;
  text-align: center;
}

/* ==================== MEDIA QUERY ==================== */
@media screen and (min-width:768px) {
  body {
    width: 30%;
    margin: 0 auto;
    background: var(--negro);
  }
}