/* ==================== GOOGLE FONTS ==================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

/* ==================== VARIABLES ==================== */
:root {
    --color-1: #f3680b;
    --color-2: #F99755;
    --color-3: #23B555;
    --color-4: #f98a40;
    --gray: #2c2525;
    --black: #030303;
    --white: #f1f1f1;
    --font: 1.1rem;
    --font-title: 4.5rem;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ==================== BASE ==================== */
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    transition: all .3s linear;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--black);
}

::selection {
    color: var(--white);
    background-color: var(--color-1);
}

img {
    max-width: 100%;
    height: 100%;
}

section {
    width: 100%;
    padding: 5.5rem 9% 1rem;
}

/* ==================== REUSABLE ==================== */
.btn {
    display: inline-flex;
    background: linear-gradient(90deg, var(--color-2), var(--color-1));
    /* background-position: 100% 0; */
    background-size: 100% 100%;
    color: var(--white);
    font-size: var(--font);
    padding: .7rem 3rem;
    border-radius: .3rem;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.8s, color 0.3s 0.3s !important;

}

.btn:hover {
    box-shadow: 300px 0 0 0 rgba(255, 255, 255, 0.7) inset, -300px 0 0 0 rgba(255, 255, 255, 0.7) inset;
    color: var(--black);
}

.btn:active {
    transform: scale(.8) !important;
}

/* ==================== SCROLLBAR ==================== */
html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--gray);
}

html::-webkit-scrollbar-thumb {
    background: var(--color-1);
}

html::-webkit-scrollbar-button {
    background: var(--color-1);
}

/* ==================== HEADER ==================== */
.header {
    position: fixed;
    background: hsla(0, 0%, 0%, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 9%;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.nav {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo-img {
    width: 8rem;
    max-width: fit-content;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__link {
    position: relative;
    font-size: var(--font);
    color: var(--white);
    padding: .5rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link:hover {
    background: hsla(0, 0%, 97%, 0.25);

    i {
        rotate: 90deg;
    }
}

.nav__item {
    i {
        font-size: 1.5rem;
    }
}

.nav__btns {
    display: flex;
    align-items: center;
}

#hamburger {
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}

/* ==================== HOME ==================== */
#mobile {
    width: 100%;
    margin-top: 3.5rem;
    display: none;
}

.home {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home__data {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 40rem;
    width: 100%;
}

.home__data .btn {
    margin-top: 1rem;
    display: none;
}

.home__title {
    font-size: var(--font-title);
    color: var(--white);
    line-height: 4.7rem;
}

.home__description {
    font-size: calc(var(--font) + .2rem);
    color: var(--white);
    font-weight: 300;
    margin-top: 2rem;
    line-height: 1.7rem;
}

.home__card {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: 100%;
}

.home__card .card {
    height: 15rem;
    flex: 1 1 20rem;
    border-radius: .4rem;
    color: var(--white);
    padding: 2rem;
    background: hsla(0, 0%, 0%, 0.6);
    backdrop-filter: blur(15px);
}

.home__card h5 {
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home__card h5 img {
    width: 1.6rem;
    height: auto;
}

.home__card p {
    color: var(--white);
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 300;
}

/* ==================== CLIMATE ==================== */
.climate {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.climate__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    img {
        width: 5rem;
    }
}

.climate__title {
    position: relative;

    p {
        color: var(--white);
        font-size: 2rem;
        padding: 1rem 2rem;
        border: 1px solid var(--color-1);

    }

    div {
        position: absolute;
        width: 1rem;
        height: 1rem;
        border: 1px solid var(--color-1);
        background: var(--black);
    }

    .square1 {
        top: -.5rem;
        left: -.5rem;
    }

    .square2 {
        top: -.5rem;
        right: -.5rem;
    }

    .square3 {
        bottom: -.5rem;
        left: -.5rem;
    }

    .square4 {
        bottom: -.5rem;
        right: -.5rem;
    }

}

/* ==================== FOOTER ==================== */

.footer {
    background: var(--black);
    padding: 2rem 9%;
    border-top: solid .1rem var(--gray);

    p {
        text-align: center;
        font-size: calc(var(--font) - .1rem);
        color: var(--white);
    }
}

/* ====================  SCROLL UP ====================  */
.scrollup {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background: var(--color-1);
    color: var(--white);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .3rem;
    text-align: center;
    line-height: 2.7rem;
    font-size: 1.5rem;
    visibility: hidden;
    transform: scale(0);
    box-shadow: var(--shadow);
}

.scrollup:hover {
    background: var(--color-3);
}

/* ===== for js */
.scrollup.mostrar {
    visibility: visible;
    transform: scale(1);
}


/* ==================== MEDIA QUERY ==================== */

@media screen and (max-width:991px) {}

@media screen and (max-width:768px) {
    :root {
        --font: 1.1rem;
        --font-title: 2.5rem;
    }

    .home__data {
        max-width: 100%;
        align-items: center;
    }

    .home__title {
        text-align: center;
        line-height: 2.5rem;
    }

    .home__description {
        text-align: center;
        font-size: 1rem;
        margin-top: 2rem;
    }

    .home__card {
        p {
            font-size: .9rem;
        }

        h5 {
            font-size: 1.4rem;
        }
    }

    .btn {
        display: none;
    }

    .home__data .btn {
        display: initial;
    }

    #hamburger {
        display: initial;
        z-index: 1001;
    }

    .nav__menu {
        position: absolute;
        padding: 1rem 9% 1rem;
        top: 100%;
        left: 0;
        right: 0;
        transform: translateX(-200%);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        background: var(--color-4);
        border-radius: .4rem;
        padding: 1rem;
        box-shadow: var(--shadow);
    }

    .nav__item a {
        color: var(--black);
    }

    /* ===== for  js */
    .nav__menu.mostrar {
        transform: translateY(0%);
    }

    .nav__link.active-link::before {
        display: none;
    }

    /* ===== for js */
    #hamburger.bx-x {
        transform: rotate(90deg);
        font-size: 2.9rem;
    }

}

@media screen and (max-width:450px) {

    #mobile {
        display: initial;
    }

    .home {
        background: var(--black);
        padding-top: .5rem;
    }

    .home__card .card {

        background: hsla(0, 0%, 97%, 0.12);

    }
}

.nose {
    background: orange;
}